.gif {
    margin-top: 0px;
    margin-left: 0px;
    width: 150px;
    height: 80px;
}

.gif2 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif3 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif4 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif5 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif6 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 1000px;
    margin-top: -65px;
    /* margin: -65px 1000px; */
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border: 1px #EEDDC2;
    background: #EEDBD2;
    border-radius: 5px;
    width: 425px; /* Ancho de la barra de búsqueda */
}

.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #EEDDC2;
    color: #EEDDC2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #EEDDC2;
}
