.gif {
    margin-top: 0px;
    margin-left: 0px;
    width: 150px;
    height: 80px;
}

.gif2 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif3 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif4 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif5 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif6 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}
